.blue {
    background-color: rgb(66, 65, 65);
}

.red {
    margin: 5px;
}

.green {
    margin: 5px;

}

.black {
    width: 100%;
}

.button {
    width: 100%;
    background-color: rgb(153, 152, 152);
}

.screen {
    width: 100%;
}