.blue {
    background-color: rgb(238, 208, 167);
}
.blue2 {
    background-color: black;
}

.red {
    padding: 10px;
    min-height: 300px;
}

.green {
    background-color: rgb(167, 137, 99);
    padding: 5px;
    margin: 5px;
} 

.black {
    background-color: rgb(167, 137, 99);
    padding: 2px;
    margin: 2px;
}

.brown {
    background-color: burlywood;
}

.purple {
    margin: 10px;
}


.orange {
    background-color: rgb(167, 137, 99);
    margin: 10px;
    padding: 35px;
}

.number,
.operator,
.equal,
.decimal,
.clear {
    width: 100%;
    background-color: rgb(184, 179, 172);
}

.screen {
    width: 100%;
}

.pink {
    width: 100%;
}