.blue {
    background-color: rgb(69, 69, 69);
}

.red {
    margin: 5px;
}

.green {
    margin: 5px;

}

.black {
    width: 100%;
}

.number,
.operator,
.equal,
.decimal,
.clear {
    width: 100%;
    background-color: rgb(184, 179, 172);
}

.screen {
    width: 100%;
}